project1/comments.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="comments"/>
  <xs:complexType name="comment">
    <xs:sequence>
      <xs:element name="new_id"/>
      <xs:element name="profile_uid"/>
      <xs:element name="profile_name"/>
      <xs:element name="text"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
