project1/likes.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="likes"/>
  <xs:complexType name="new">
    <xs:sequence>
      <xs:element name="like">
        <xs:simpleType>
             <xs:restriction base="xs:integer">
                 <xs:minInclusive value="0"/>
             </xs:restriction>
        </xs:simpleType>
        </xs:element>
      <xs:element name="dislike">
        <xs:simpleType>
             <xs:restriction base="xs:integer">
                 <xs:minInclusive value="0"/>
             </xs:restriction>
        </xs:simpleType>
        </xs:element>
      <xs:element name="userid"/>
    </xs:sequence>
    <xs:attribute name="id" type="xs:integer"/>
  </xs:complexType>
</xs:schema>